@model System.Collections.Generic.List<CachingWebApi.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@*<p>@Model.ForEach(x =>
   {
    x.UserName,
    x.Email,
    x.EmailConfirmed
    x.PhoneNumber
})</p>*@
